body{
    margin: 0;
    overflow-x: hidden;
}
.topnav{
    position: relative;
    width: 100%;
    background-color: #f5f5f5;
    height: 35px;
    display: flex;
    align-items: center;
    
    
}
.logo1{
    
    width: 50%;
    height: auto;
    padding-left: 45px;
    
    display: inline;
}
.services{
    display: flex;
    width: 50%;
    height: auto;
    justify-content: end;
    text-align: end;
    align-items: center;
   
    
   
    
}
.toplogo{

}
.verticalline{
    border-right: 1px solid;
    height: 12px;
    margin: 12px;
}
.link1{
    color: #111111;
    font-size: 12px;
    font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
    text-transform: capitalize;
    font-weight: 550;
    text-decoration: none;
    
}
.link2{
    color: #111111;
    font-size: 12px;
    font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
    text-transform: capitalize;
    font-weight: 600;
    padding-right: 70px;
    text-decoration: none;
    
}
.nav{
    display: block;
    
    width: 100%;
    height: 70px;
    background-color: white;
    align-items : center;
    display: flex;
    
}
.logo2{
   height: auto;
   width: 23%;
    align-items: center;
    padding-left: 40px;
    
}
.nike{
    width: 80px;
    height: 70px;
}
.category{
  
    justify-content: center;
    
    
    flex-wrap: wrap;
    overflow: hidden;
    width: auto;
    

}
ul{
    list-style: none;
    list-style-type: none;
    overflow:hidden;

}
li{
    display:inline-block;
}
.ser{
    width: 40%;
    height: auto;
    
    justify-content: center;
    align-items: center;
    padding-top: 3px;
    
    
}
.lastlogo{
    width: 30%;
    height: 70px;
    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    
}
.a1{
    font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
    font-size: 16px; 
    padding-left: 15px;
    color: #111111;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
}
.heart{
    width: 30px;
    height: 30px;
    border-radius:30px ;
    
    background-image: url("./img/heartec667039be36.svg");
    background-size: cover;
    margin-right: 8px;
}
.carry{
    width: 30px;
    height: 30px;
    border-radius:30px ;
    
    background-image: url("./img/carrybagc-7d3b3bc27f93.svg");
    background-size: cover;
}
.inputsearch{
    height: 25px;
    border-radius: 24px;
    background-image: url("./img/search-d38e9a62db75.svg");
    background-repeat: no-repeat;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid black;
    background-color: #f5f5f5 ;
}
.inp{
    margin-right: 20px;
}
.add{
    background-color: #f5f5f5;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 20px;
    padding-top: 30px;
    
}
.adva{
    font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
    font-size: 16px; 
    line-height: 20px;
   
}
.session1{
    position: absolute;
   width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    height: 600px;
   

}
.session12{
    margin-left: 5%;
    width: 90%;
    height: 500px;
    background-image: url("./img/video1.png");
    background-size: cover;
}
.session2{
    
    width: 100%;
    height: 350px;
    background-color: white;
    text-align: center;
    padding-top: 30px;
    
   
    
}
.session2title{
    
    font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
    font-size: 18px; 
    font-weight: 500;
    margin-top: 0px;
    
    
}
.session2head{
    display: block;
    line-height: 60px;
    font-weight: bold;
    unicode-bidi: isolate;
    font-weight: 700;
    font-size: 70px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.session2title2{
    
    font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
    font-size: 18px; 
    font-weight: 500;
    margin-top: 0px;
    
    
}
.session2link{
    
    font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
    font-size: 18px;
    text-decoration: none;
    background-color: black;
    color: white;
    height: 50px;
    
}
.s2l{
    margin-right: 400px;
    justify-content: center;
   width: 200px;
    height: 30px;
    margin-top: 50px;
    border-radius: 20px;
    background-color: black;
    padding-top: 13px;
    margin-left: 44%;
    cursor: pointer;
}
.session3{
    padding-left: 4%;
    width: 100%;
    background-color: white;
}
.session3 p{
    font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
    font-size: 24px;

}
.session4{
    white-space: nowrap;
    overflow: auto;
    scrollbar-width: 10px;
    width: auto;
    height: 650px;
    background-color: white;
    padding-left: 4%;
}

.scroll1{
    
    position: relative;
    display: inline-block;
    width: 450px;
    height: 600px;
    background-image: url("./img/nike-just-do-it\ \(4\).jpeg");
    background-size: cover;
    margin-left: 20px;
}
.scroll2{
    position: relative;
    display: inline-block;
    width: 450px;
    height: 600px;
    background-image: url("./img/nike-just-do-it\ \(1\).jpeg");
    background-size: cover;
    margin-left: 20px;
}
.scroll3{
    position: relative;
    display: inline-block;
    width: 450px;
    height: 600px;
    background-color: blue;
    margin-left: 20px;
    background-image: url("/img/image.jpeg");
    background-size: cover;
}
.scroll4{
    position: relative;
    display: inline-block;
    width: 450px;
    height: 600px;
    background-color: blue;
    margin-left: 20px;
    background-image: url("/img/nike-just-do-it.jpeg");
    background-size: cover;
}
.scroll5{
    position: relative;
    display: inline-block;
    width: 450px;
    height: 600px;
    background-color: blue;
    margin-left: 20px;
    margin-right: 6%;
    background-image: url("/img/image\ \(1\).jpeg");
    background-size: cover;
}
.s4link1{
    left: 15%;
    position: absolute;
    bottom: 19%;
    font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.s4shop1{
   
    font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
    font-size: 18px;
    text-decoration: none;
    position: absolute;
    right: 25px;
    color: black;
    top: 6px;
    
}
.s4d:hover{
    background-color: #edededcf ;
}
.s4d{
    justify-content: center;
    position: absolute;
    left: 15%;
    width: 90px;
    height: 35px;
    top: 85%;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    
    
}
.session5{
    padding-top: 80px;
    height: 90px;
    position: relative;
    width: 100%;
    background-color: white;
}
.session5 p{
    font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
    font-size: 24px;
    position: absolute;
    left: 3%;

}
.session6{
    
    white-space: nowrap;
    overflow: auto;
    scrollbar-width: none;
    background-color: white;
}
.s6scroll1{
    position: relative;
    display: inline-block;
    width: 300px;
    height: 300px;
    background-image: url("./img/nike-just-do-it\ \(5\).jpeg");
    background-size: cover;
    cursor: pointer;
   
}
.s6scroll2{
    margin-left: 10px;
    display: inline-block;
    width: 300px;
    height: 300px;
    background-image: url("./img/nike-just-do-it\ \(6\).jpeg");
    background-size: cover;
    cursor: pointer;
   
}
.s6scroll3{
    margin-left: 10px;
    display: inline-block;
    width: 300px;
    height: 300px;
    background-image: url("./img/nike-just-do-it\ \(7\).jpeg");
    background-size: cover;
    cursor: pointer;
   
}
.s6scroll4{
    margin-left: 10px;
    display: inline-block;
    width: 300px;
    height: 300px;
    background-image: url("./img/nike-just-do-it\ \(8\).jpeg");
    background-size: cover;
    cursor: pointer;
   
}
.s6scroll5{
    margin-left: 10px;
    display: inline-block;
    width: 300px;
    height: 300px;
    background-image: url("./img/nike-just-do-it\ \(9\).jpeg");
    background-size: cover;
    cursor: pointer;
   
}
.s6scroll6{
    margin-left: 10px;
    display: inline-block;
    width: 300px;
    height: 300px;
    background-image: url("./img/nike-just-do-it\ \(10\).jpeg");
    background-size: cover;
    cursor: pointer;
   
}
.s6scroll7{
    margin-left: 10px;
    display: inline-block;
    width: 300px;
    height: 300px;
    background-image: url("./img/nike-just-do-it\ \(11\).jpeg");
    background-size: cover;
    cursor: pointer;
   
}
.s6scroll8{
    margin-left: 10px;
    display: inline-block;
    width: 300px;
    height: 300px;
    background-image: url("./img/nike-just-do-it\ \(12\).jpeg");
    background-size: cover;
    cursor: pointer;
   
}
.s6scroll9{
    margin-left: 10px;
    display: inline-block;
    width: 300px;
    height: 300px;
    background-image: url("./img/nike-just-do-it\ \(13\).jpeg");
    background-size: cover;
    cursor: pointer;
   
}
.session7{
    padding-top: 85px;
    height: 90px;
    position: relative;
    width: 100%;
    background-color:white;
}
.session7 p{
    font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
    font-size: 24px;
    position: absolute;
    left: 3%;

}
.session8{
    
    white-space: nowrap;
    overflow: auto;
    scrollbar-width: 10px;
    background-color: white;
}
.s8scroll1{
    position: relative;
    display: inline-block;
    width: 450px;
    height: 350px;
    background-image: url("./img/nike-just-do-it\ \(17\).jpeg");
    background-size: cover;
    cursor: pointer;
   
}
.s8scroll2{
    margin-left: 10px;
    position: relative;
    display: inline-block;
    width: 450px;
    height: 350px;
    background-image: url("./img/nike-just-do-it\ \(15\).jpeg");
    background-size: cover;
    cursor: pointer;
   
}
.s8scroll3{
    margin-left: 10px;
    position: relative;
    display: inline-block;
    width: 450px;
    height: 350px;
    background-image: url("./img/nike-just-do-it\ \(20\).jpeg");
    background-size: cover;
    cursor: pointer;
   
}
.s8scroll4{
    margin-left: 10px;
    position: relative;
    display: inline-block;
    width: 450px;
    height: 350px;
    background-image: url("./img/nike-just-do-it\ \(16\).jpeg");
    background-size: cover;
    cursor: pointer;
   
}
.s8scroll5{
    margin-left: 10px;
    position: relative;
    display: inline-block;
    width: 450px;
    height: 350px;
    background-image: url("./img/nike-just-do-it\ \(18\).jpeg");
    background-size: cover;
    cursor: pointer;
   
}
.s8scroll6{
    margin-left: 10px;
    position: relative;
    display: inline-block;
    width: 450px;
    height: 350px;
    background-image: url("./img/nike-just-do-it\ \(19\).jpeg");
    background-size: cover;
    cursor: pointer;
   
}
.s8scroll7{
    margin-left: 10px;
    position: relative;
    display: inline-block;
    width: 450px;
    height: 350px;
    background-image: url("./img/nike-just-do-it\ \(21\).jpeg");
    background-size: cover;
    cursor: pointer;
   
}
.s8scroll8{
    margin-left: 10px;
    position: relative;
    display: inline-block;
    width: 450px;
    height: 350px;
    background-image: url("./img/nike-just-do-it\ \(14\).jpeg");
    background-size: cover;
    cursor: pointer;
   
}
.s8shop1{
   
    font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
    font-size: 18px;
    text-decoration: none;
    position: absolute;
    right: 25px;
    color: black;
    top: 7px;
    left: 15px;
    font-weight: 500;
    
}
.s8d{
    justify-content: center;
    position: absolute;
    left: 14%;
    width: 90px;
    height: 35px;
    top: 75%;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    
    
}
.s8d1{
    justify-content: center;
    position: absolute;
    left: 14%;
    width: 140px;
    height: 35px;
    top: 75%;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    
    
}
.s8shop2{
   
    font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
    font-size: 18px;
    text-decoration: none;
    position: absolute;
    right: 25px;
    color: black;
    top: 7px;
    left: 28px;
    font-weight: 500;
    
}
.s8d2{
    justify-content: center;
    position: absolute;
    left: 14%;
    width: 160px;
    height: 35px;
    top: 75%;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    
    
}
.s8d3{
    justify-content: center;
    position: absolute;
    left: 14%;
    width: 140px;
    height: 35px;
    top: 75%;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    
    
}
.session9{
   
    white-space: nowrap;
    overflow: auto;
    scrollbar-width: 10px;
    background-color: white;
}
.s9scroll1{
    margin-left: 2%;
    position: relative;
    display: inline-block;
    width: 450px;
    height: 600px;    
    cursor: pointer;
    background-color: white;
   
}
.s9scroll10{
    margin-left: 5%;
    position: relative;
    display: inline-block;
    width: 450px;
    height: 600px;    
    cursor: pointer;
    background-color: white;
}
.s9img1{
    position: absolute;
    width: 100%;
    height: 80%;
    background-image: url("./img/air-force-1-07-shoes-cpbZd3.jpeg");
    background-size: cover;
}
.s9img2{
    position: absolute;
    width: 100%;
    height: 80%;
    background-image: url("./img/air-jordan-legacy-312-low-shoes-6Vd4Xl.jpeg");
    background-size: cover;
}
.s9img3{
    position: absolute;
    width: 100%;
    height: 80%;
    background-image: url("./img/dunk-low-retro-shoes-TmZ97X.jpeg");
    background-size: cover;
}
.s9img4{
    position: absolute;
    width: 100%;
    height: 80%;
    background-image: url("./img/jam-shoes-vNLdFr.jpeg");
    background-size: cover;
}
.s9img5{
    position: absolute;
    width: 100%;
    height: 80%;
    background-image: url("./img/air-force-1-07-shoes-Nsk8Wx.jpeg");
    background-size: cover;
}
.s9img6{
    position: absolute;
    width: 100%;
    height: 80%;
    background-image: url("./img/air-monarch-iv-workout-shoes-cc3XbD.jpeg");
    background-size: cover;
}
.s9img7{
    position: absolute;
    width: 100%;
    height: 80%;
    background-image: url("./img/air-force-1-07-next-nature-shoes-cg65FM.jpeg");
    background-size: cover;
}
.s9img8{
    position: absolute;
    width: 100%;
    height: 80%;
    background-image: url("./img/air-max-90-lv8-shoes-5KhTdP.jpeg");
    background-size: cover;
}
.s9img9{
    position: absolute;
    width: 100%;
    height: 80%;
    background-image: url("./img/dunk-low-twist-shoes-V6NqFG.jpeg");
    background-size: cover;
}
.s9img10{
    position: absolute;
    width: 100%;
    height: 80%;
    background-image: url("./img/court-vision-low-shoes-M7dKd8.jpeg");
    background-size: cover;
}
.s9des{
    position: absolute;
    height: 20%;
    width: 100%;
    background-color: white;
    bottom: 0px;
    font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 10px;
    
}
.s9p1{
    font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
    font-size: 18px;
    padding-left: 20px;
    font-weight: 500;
}
.s9p2{
    font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
    font-size: 16px;
    padding-left: 20px;
    font-weight: 500;
    color: #12121266;
    
}
.s9p3{
    font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
    font-size: 18px;
    padding-left: 20px;
    padding-top: 17px;
    font-weight: 600;
}
.session10{
    padding-top: 87px;
    height: 80px;
    position: relative;
    width: 100%;
    background-color:white;
}
.session10 p{
    font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
    font-size: 24px;
    position: absolute;
    left: 3%;
    bottom: 0px;

}
.session11{
    margin-left: 5%;
    width: 90%;
    height: 720px;
    background-image: url("./img/nike-just-do-it\ \(22\).jpeg");
    background-size: cover;
}
.session13{
    position: relative;
    width: 100%;
    height: 300px;
    background-color: white;
    text-align: center;
    padding-top: 30px;
}
.session13head{
    display: block;
    line-height: 50px;
    font-weight: bold;
    unicode-bidi: isolate;
    font-weight: 800;
    font-size: 70px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.s13l{
    position: absolute;
    justify-content: center;
    left: 20px;
   width: 150px;
    height: 30px;
    margin-top: 50px;
    border-radius: 20px;
    background-color: black;
    padding-top: 13px;
    margin-left: 44%;
    cursor: pointer;
}
.session14 p{
    font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
    font-size: 24px;
    position: absolute;
    left: 3%;
    bottom: 0px;

}
.session14{
    padding-top: 87px;
    height: 80px;
    position: relative;
    width: 100%;
    background-color:white;
}

.session15{
    white-space: nowrap;
    overflow: auto;
    scrollbar-width: 10px;
    width: auto;
    height: 650px;
    background-color: white;
    padding-left: 4%;
}

.s15scroll1{
    
    position: relative;
    display: inline-block;
    width: 450px;
    height: 600px;
    background-image: url("./img/nike-just-do-it\ \(23\).jpeg");
    background-size: cover;
    margin-left: 20px;
}
.s15scroll2{
    position: relative;
    display: inline-block;
    width: 450px;
    height: 600px;
    background-image: url("./img/nike-just-do-it.png");
    background-size: cover;
    margin-left: 20px;
}
.s15scroll3{
    position: relative;
    display: inline-block;
    width: 450px;
    height: 600px;
    background-color: blue;
    margin-left: 20px;
    background-image: url("/img/nike-just-do-it\ \(24\).jpeg");
    background-size: cover;
}
.s15scroll4{
    position: relative;
    display: inline-block;
    width: 450px;
    height: 600px;
    background-color: blue;
    margin-left: 20px;
    background-image: url("/img/nike-just-do-it\ \(25\).jpeg");
    background-size: cover;
}
.s15scroll5{
    position: relative;
    display: inline-block;
    width: 450px;
    height: 600px;
    background-color: blue;
    margin-left: 20px;
    margin-right: 6%;
    background-image: url("/img/nike-just-do-it\ \(26\).jpeg");
    background-size: cover;
}
.s15scroll6{
    position: relative;
    display: inline-block;
    width: 450px;
    height: 600px;
    background-color: blue;
    margin-left: 20px;
    margin-right: 6%;
    background-image: url("/img/nike-just-do-it\ \(27\).jpeg");
    background-size: cover;
}
.s15link1{
    left: 15%;
    position: absolute;
    bottom: 19%;
    font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.s15shop1{
   
    font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
    font-size: 18px;
    text-decoration: none;
    position: absolute;
    right: 25px;
    color: black;
    top: 6px;
    
}
.s15d1{
    justify-content: center;
    position: absolute;
    left: 15%;
    width: 110px;
    height: 35px;
    top: 85%;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    padding-left: 20px;
    
    
}
.s15d2{
    justify-content: center;
    position: absolute;
    left: 15%;
    width: 110px;
    height: 35px;
    top: 85%;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    padding-left: 20px;
    
    
}
.s15d3{
    justify-content: center;
    position: absolute;
    left: 15%;
    width: 110px;
    height: 35px;
    top: 85%;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    padding-left: 28px;
    
    
}
.s15d4{
    justify-content: center;
    position: absolute;
    left: 15%;
    width: 90px;
    height: 35px;
    top: 85%;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    padding-left: 20px;
    
    
}
.session16{
    width: 100%;
    background-color: white;
    height: 500px;
    padding-top: 4%;
    padding-left: 15%;
}
.footer1{
    display: grid;
    background-color: white;
    width: 70%;
    height: 400px;
    grid-template-areas: "grid1 grid2 grid3 grid4";
}
.grid1{
    grid-area: grid1;
    background-color: white;
}
.grid2{
    grid-area: grid2;
    background-color: white;
}
.grid3{
    grid-area: grid3;
}
.grid4{
    grid-area: grid4;
}
.s16grid h4{
    margin-left: 40px;
    font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 500;
}
.s16grid li{
     color: #12121266;
     font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
     font-size: 15px;
     line-height: 35px;
     cursor: pointer;
}
.s16grid li:hover{
    color: #111111;
}
.session17{
       width: 100%;
    background-color: white;
    height: 400px;
    padding-top: 4%;
    padding-left: 5%;
}
.s17grid{
    display: grid;
    background-color: white;
    width: 90%;
    height: 400px;
    grid-template-areas: "item1 item2 item3 item4 item5";
    
}
.item1{
    grid-area: item1;
}
.item2{
    grid-area: item2;
}
.item3{
    grid-area: item3;
}
.item4{
    grid-area: item4;
}
.item5{
    grid-area: item5;
}
.items h4{
    margin-left: 40px;
    font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 500; 
}
.items li{
    color: #12121266;
     font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
     font-size: 15px;
     line-height: 35px;
     cursor: pointer;
}
.items li:hover{
    color: #111111;
}






@media (max-width: 769px){
    .nav{
        background-color: whitesmoke;
    }
    .ser{
        display: none;
    }
    .lastlogo{
        width: auto;
        margin-left: 390px;
       
    }
    .inputsearch{
        display: none;
    }
    .inp{
        display: none;
    }
    .heart{
        display: none;
    }
    .personimg{
        width: 30px;
        height: 25px;
        margin-right: 8px; 
    }
    .searchimg{
        width: 30px;
        height: 30px;
        margin-right: 8px; 
    }
    .menuimg{
        width: 30px;
        height: 30px;
        margin-top: 10px; 
        margin-left: 8px; 
    }
    .topnav{
        display: none;
    }
    .body{
        overflow-x: hidden;
        overflow-y: hidden;
    }
    * {
        box-sizing: border-box;
    }
    .session2link{
    
        font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
        font-size: 18px;
        text-decoration: none;
        background-color: black;
        color: white;
        height: 50px;
        
        
    }
    .s2l{
        margin-right: 400px;
        justify-content: center;
       width: 150px;
        height: 30px;
        margin-top: 50px;
        border-radius: 20px;
        background-color: black;
        padding-top: 6px;
        margin-left: 40%;
        cursor: pointer;
    }
    .s9scroll1{
        margin-left: 2%;
        position: relative;
        display: inline-block;
        width: 450px;
        height: 600px;    
        cursor: pointer;
        background-color: white;
       
    }
    .s9scroll10{
        margin-left: 5%;
        position: relative;
        display: inline-block;
        width: 450px;
        height: 600px;    
        cursor: pointer;
        background-color: white;
    }
    .session7{
        padding-top: 5px;
        height: 90px;
        position: relative;
        width: 100%;
        background-color:white;
    }
    .session5{
        display: none;
    }
    .session13 h3{
        font-size: 30px;
    }
    .session13 p{
        font-size: 15px;
    }
    .s13l{
        padding-top: 6px;
        margin-left: 38%;
    }
    .session16{
        display: none;
    }
    .s15d3{
        justify-content: center;
        position: absolute;
        left: 12%;
        width: 110px;
        height: 35px;
        top: 85%;
        border-radius: 20px;
        background-color: white;
        text-align: center;
        padding-left: 0px;
        
        
    }
    .s15shop1 {
        font-family: "Helvetica Now Text", Helvetica, Arial, sans-serif;
        font-size: 18px;
        text-decoration: none;
        position: absolute;
        right: 15px;
        color: black;
        top: 6px;
    }
    
   
}
@media (min-width: 769px){
    .searchimg{
        display: none;
    }
    .person{
        display: none;
    }
    .menuimg{
        display: none;
    }
}
@media (max-width:321px){
    
    .logo2{
        display: none;
    }
    body{
        width: 530px;
    }
    * {
        box-sizing: border-box;
    }
    .session2head{
        font-size: 30px;
        line-height: 30px;
    }
    .lastlogo {
        width: auto;
        margin-left: 350px;
        cursor: pointer;
    }
    .s13l{
        position: absolute;
    justify-content: center;
    left: 20px;
    width: 150px;
    height: 30px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: black;
    padding-top: 6px;
    margin-left: 33%;
    cursor: pointer;
    }
   .session13 p{
    font-size: 10px;
   }
   .s2l{
    margin-right: 400px;
    justify-content: center;
    width: 150px;
    height: 30px;
    margin-top: 50px;
    border-radius: 20px;
    background-color: black;
    padding-top: 6px;
    margin-left: 36%;
    cursor: pointer;
   }

}